<div class="chat">
  <div class="chat-header">
    <div class="chat-header__image">{{photo}}</div>
    <div class="chat-header__name"> {{name}} </div>
    <div class="chat-header__setting"></div>
  </div>

  <div class="message-history">
  {{#each messages}}
    {{#with this}}
    <div class="message {{class}}">{{content}}<span>{{time}}</span></div>
    {{/with}}
  {{/each}}
  </div>
  <div class="message-input">
    <div class="message-input__attach"></div>
    <form>
      <span class="form-error"></span>
      <input name="message" type="text" />
      <button class="message-input__send-btn" type="submit"> </button>
    </form>
  </div>
</div>
