<div>
<<<<<<< HEAD
  <button
    class="close-settings"
    onClick="document.location.href='{{linkback}}'; return false;"
  > </button>
  <form
    id="settings"
    name="settings"
    enctype="multipart/form-data"
    method="POST"
    class="form-set locked"
  >
    <h2 class="form-set__title">Настройки</h2>
    <div class="set-avatar">
      <img src="{{avatar}}" />
      <input type="file" id="avatar" name="avatar" />
=======
<button class="close-settings" onClick="document.location.href='{{linkback}}'; return false;"> </button>
<form id="settings" name="settings" enctype="multipart/form-data" method="POST" class="form-set locked">
        <h2 class="form-set__title">Настройки</h2>
    <div class="set-avatar">
        <img src="{{avatar}}" />
        <input type="file" id="avatar" name="avatar" />
>>>>>>> main
    </div>
    <div class="settings__name">{{name}}</div>
    <div class="form-error"></div>
    <label for="email">
<<<<<<< HEAD
      Почта
      <input
        type="text"
        name="email"
        id="email"
        value="{{{email}}}"
        placeholder="login@domain.ru"
      />
    </label>
    <label for="login">
      Логин
      <input
        type="text"
        name="login"
        id="login"
        value="{{login}}"
        placeholder="ivan_ivanov"
      />
    </label>
    <label for="name">
      Имя
      <input
        type="text"
        name="first_name"
        id="first_name"
        value="{{name}}"
        placeholder="Иван"
      />
    </label>
    <label for="surname">
      Фамилия
      <input
        type="text"
        name="second_name"
        id="second_name"
        value="{{surname}}"
        placeholder="Иванов"
      />
    </label>
    <label for="phone">
      Телефон
      <input
        type="text"
        name="phone"
        id="phone"
        value="{{phone}}"
        placeholder="+7(909)967 30 30"
      />
    </label>

    <a class="form-set__link change-data" href="#">Изменить данные</a>
    <a class="form-set__link change-pswd" href="#">Изменить пароль</a>
  </form>
</div>
=======
        Почта
        <input type="text" name="email" id="email" value="{{{email}}}" placeholder="login@domain.ru" />
    </label>
    <label for="login">
        Логин
        <input type="text" name="login" id="login" value="{{login}}" placeholder="ivan_ivanov" />
    </label>
    <label for="name">
        Имя
        <input type="text" name="first_name" id="first_name" value="{{name}}" placeholder="Иван" />
    </label>
    <label for="surname">
        Фамилия
        <input type="text" name="second_name" id="second_name" value="{{surname}}" placeholder="Иванов" />
    </label>
    <label for="phone">
        Телефон
        <input type="text" name="phone" id="phone" value="{{phone}}" placeholder="+7(909)967 30 30" />
    </label>
    
    <a class="form-set__link change-data" href="#" >Изменить данные</a>
    <a class="form-set__link change-pswd" href="#" >Изменить пароль</a>
    </form>
</form>
</div>
>>>>>>> main
